<div id="response" class="well">
    <h1>Response:</h1>
    <div class="contents">
        ...
    </div>
</div>
<div id="error" class="well">
    <h1>Error:</h1>
    <div class="contents">
        ...
    </div>
</div>

<script type="text/javascript">
  $( '#response' ).addClass( 'collapse' );
  $( '#error' ).addClass( 'collapse' );
</script>
