<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

<div class="p-5 mb-4 bg-primary text-bg-dark rounded-3">
  <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Getting Started with Knish.IO JavaScript/NodeJS SDK</h1>
      <p class="col-md-8 fs-4">This is an example application leveraging the Knish.IO Javascript/NodeJS SDK, covering several basic concepts, like authorization, authentication, and metadata manipulation.</p>
      <a type="button" class="btn btn-lg btn-outline-light" href="https://github.com/WishKnish/Knish.IO-Examples"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>

<div class="container">
  <form action="/" method="POST">
      <%- include ("../partials/client.ejs") %>
      <div class="form-group row">
          <div class="offset-4 col-8">
              <button name="submit" type="submit" class="btn btn-primary">Proceed</button>
          </div>
      </div>
  </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>
